<div class="container">

  <h3 align="center">Chat up your robo match!</h3>

  <hr>

  <div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4">
        <div class="card card-outline-info mb-3 text-center">
          <div class="card-block">
              <p><%= image_tag "https://robohash.org/#{user.name}"  %></p>
                <% if user.id != current_user.id %>
                <%=link_to "Check out #{user.name}'s profile", user_profile_path(user, user.profile.id),
                    class: "btn btn-primary btn-lg btn-block" if user.profile.present? %></br>
                  <%=link_to "Message #{user.name}",  user_path(user),
                          class: "btn btn-info btn-lg btn-block" %></br>
                <% end %>
              <% if user.id == current_user.id %>
                <%= link_to "My Profile", user_profile_path(user, user.profile.id),
                    class: "btn btn-info btn-lg btn-block" %>
              <% end %>
            </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
