<h1>Chat up your match!</h1>

<h3>membership:</h3>

<% @users.each do |user| %>
  <% if user.id != current_user.id %>
    <%=link_to "#{user.name}", user_path(user) %>'s profile
  <% end %>
<% end %>

</br>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
